<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        
        <title>Currencies Charts{% block page_title %}{% endblock %}</title>
        
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic,400italic,600italic&subset=latin,latin-ext" rel="stylesheet">
        {% block stylesheets %}
            {% stylesheets combine=true filter='cssrewrite'
                    'bundles/currenciescharts/css/bootstrap.min.css'
                    'bundles/currenciescharts/css/bootstrap-datetimepicker.min.css'
                    'bundles/currenciescharts/css/style.css'
                     %}
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
            {% endstylesheets %}
        {% endblock %}

        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="skin-blue">
    {% block body %}
        <header id="header" class="navbar navbar-default">
        {% block header %}
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-nav" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url('currencies') }}">Currencies Charts</a>
            </div>
            
            {% macro main_menu_item(item, active_menu_item) %}
            <li {% if item.name == active_menu_item|default('currencies') %}class="active"{% endif %}>
                <a href="{{ url(item.name) }}">
                    {% if item.icon is defined %}
                        <i class="glyphicon glyphicon-{{ item.icon }}"></i> 
                    {% endif %}
                    <span class="hidden-xs">
                        {{ ('main_menu.' ~ item.name) | trans }}
                    </span>
                </a>
            </li>                    
            {% endmacro %}
            
            {% set active_menu_item = active_menu_item|default('currencies') %}                
            <div class="collapse navbar-collapse" id="menu-nav">
                <ul class="nav navbar-nav">
                    {% if app.user is not null and is_granted('IS_AUTHENTICATED_FULLY') %}
                        {{ _self.main_menu_item({name: 'currencies', icon: 'euro'}, active_menu_item) }}
                    {% endif %}
                </ul>
                
                <div class="navbar-right">
                    <ul class="nav navbar-nav"> 
                        {% if app.user is not null and is_granted('IS_AUTHENTICATED_FULLY') %}
                            {{ _self.main_menu_item({name: '_logout', icon: 'off'}, active_menu_item) }}
                        {% else %}
                            {{ _self.main_menu_item({name: 'register'}, active_menu_item) }}
                            {{ _self.main_menu_item({name: 'login_path', icon: 'log-in'}, active_menu_item) }}
                        {% endif %}
                    </ul>
                </div>
            </div>  
        </div>
        {% endblock %}
        </header>
        
        <section>
        {% block main %}

        {% endblock %}
        </section>

        <footer id="menu-footer">
        {% block footer %}
        {% endblock %}
        </footer>
        
        {% block javascript %}
            {% javascripts filter='?yui_js' combine=true
                    'bundles/fosjsrouting/js/router.js'
                    'js/fos_js_routes.js'
                    'bundles/currenciescharts/js/jquery-1.11.3.min.js'
                    'bundles/currenciescharts/js/moment.min.js'
                    'bundles/currenciescharts/js/bootstrap.min.js'
                    'bundles/currenciescharts/js/bootstrap-datetimepicker.min.js'
                    'bundles/currenciescharts/js/highcharts-custom.js'
                    %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}

    {% endblock %}
    </body>
</html>
